.cursor-pointer {
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.content-header {
  height: fit-content;
  margin-bottom: 1em;
}

.content-body {
  height: fit-content;
}

.label {
  font-weight: bold;
  margin-bottom: 0.25em;
}

.radio-options {
  display: flex;
  flex-direction: column;
  margin: 5px 0px 5px 0px;
}
