@import url('/addon/styles/dropdown.css');
@import url('/addon/styles/fly-in.css');
@import url('/addon/styles/navbar.css');
@import url('/addon/styles/player-card.css');

.cursor-pointer {
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.content-header {
  height: fit-content;
  margin-bottom: 1em;
}

.content-body {
  height: fit-content;
}

.radio-label {
  font-weight: bold;
}

.radio-options {
  display: flex;
  flex-direction: column;
  margin: 5px 0px 5px 0px;
}
