.modal {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1em;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-backdrop.modal-closed {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

.modal-body {
    margin-bottom: 1em;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-x {
    cursor: pointer;
    min-height: 2em;
    min-width: 2em;
    position: absolute;
    top: 10px;
    right: 10px;
}