.navbar-body {
  flex: 1 1 auto;
  padding: 0 1em;
}

.navbar-container {
  background-color: #eee;
  position: sticky;
  top: 0;
  left: 0;
  min-height: 5vh;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  padding: 0 1em;
}

.navbar-dropdown .header-dropdown-options {
  position: absolute;
  min-width: 60px !important;
}

.navbar-dropdown .header-dropdown-select {
  padding-top: 0px;
  border-bottom-style: none;
}

.navbar-dropdown .header-dropdown-select::after {
  top: -3px;
}

.navbar-dropdown .header-dropdown-selected {
  font-weight: normal;
}

.navbar-elements {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.navbar-selection {
  padding: 8px;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-selection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  background-color: #cccccc;
  z-index: -1;
  transition: transform 0.3s ease;
  transform-origin: bottom;
}

.navbar-selection:hover::before {
  height: 100%;
  transform: scaleY(1);
}

.navbar-title {
  font-size: clamp(20px, 3vw, 30px);
  margin-right: 1em;
  width: fit-content;
  white-space: nowrap;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-yield {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  padding-top: 8px;
}