body {
  margin: 0px;
}

.custom-form {
  width: 40%;
}

.custom-dropdown.dropdown-wrapper {
  width: 40%;
}

.custom-dropdown.header-dropdown-wrapper {
  width: fit-content;
}

.custom-dropdown .dropdown-select {
  font-size: 1rem;
}

.custom-dropdown .dropdown-options {
  font-size: 1rem;
}

.custom-dropdown .header-dropdown-select {
  font-size: 1rem;
}
