<div class="dropdown-wrapper {{@class}}" {{did-insert this.loadClickListener}}>
    <div class="dropdown-select {{if this.isOpen 'open'}}">
        Hello World!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    </div>
    {{#if this.isOpen}}
        <div class="dropdown-options">
            <div class="dropdown-option">
                Test!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            </div>
            <div class="dropdown-option">
                Test!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            </div>
            <div class="dropdown-option">
                Test!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            </div>
        </div>
    {{/if}}
</div>