<div class='page-footer'>
  {{#if (has-block)}}
    <div class='page-footer-yield'>
      {{yield}}
    </div>
  {{/if}}
  <div class='page-footer-static'>
    <span>{{@footerTag}}</span>
  </div>
</div>