<div class="form-wrapper {{@class}}">
    <form>
        {{yield (hash Field=(component "form/field" addValidator=this.addValidator didValidate=this.didValidate errors=this.errors validate=this.validate))}}
    </form>
    {{#unless @hideSubmit}}
      <ButtonPrimary @onClick={{this.submitForm}}>
          Submit
      </ButtonPrimary>
    {{/unless}}
</div>