<div class='text-input-wrapper'>
  <div class='label'>
    {{@label}}
  </div>
  <input
    type='text'
    class='text-input'
    placeholder={{@placeholder}}
    value={{this.value}}
    {{on 'input' this.updateValue}}
  />
</div>