<div style='height: fit-content; width: fit-content;'>
  <Content>
    <:header>
      <div style='display: flex; justify-content: center; align-items: center;'>
        <h1>Header</h1>
      </div>
    </:header>
    <:body>
      <p style='display: flex; justify-content: center;'>This is the body
        content.</p>
    </:body>
  </Content>
</div>